

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #f6f8ff;
}
.container {
  width: 1140px;
  margin: 30px auto;
}



.active {
  font-weight: 700;
}


.dark-1 {
  color: #252432;
}

.dark-2 {
  color: #8987a1;
}

.orange {
  color: #e95a08;
}

.orange-bg {
  background-color: #e95a08;
}

.head-text {
  font-family: "Noto Serif";
}

.navbar {
  justify-content: space-between;
  align-items: center;
}



.nav-item {
  list-style: none;
  margin-right: 50px;
}

.cart {
  margin: 0;
}

.nav-link {
  text-decoration: none;
  font-size: 1.25em;
}

.banner-section {
  justify-content: space-between;
  align-items: flex-end;
  height: 460px;
  margin-top: 90px;
}

.banner-texts {
  width: 50%;
}

.banner-title {
  font-size: 4em;
  margin: 0;
}

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.banner-description,
.plant-description {
  font-size: 1.25rem;
}

.banner-image {
  width: 50%;
}

.banner-image img {
  width: 100%;
}

.plant-section {
  margin-top: 120px;
}

.plant-texts {
  text-align: center;
}

.plant-title {
  font-size: 3rem;
  margin-bottom: 15px;
}
.plant-description {
  width: 70%;
  margin: 0 auto;
}

.plant-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.plant-card {
  width: 270px;
  text-align: center;
  border: 1px solid rgba(128, 128, 128, 0.05);
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.05);
}

.plant-image {
  width: 100%;
}

.plant-name {
  font-size: 1.25rem;
  font-weight: 600;
}

.plant-button {
  width: 100%;
  padding: 10px 0;
  border: none;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.plant-lover-section-contents {
  justify-content: space-between;
  gap: 80px;
  margin-top: 150px;
  margin-bottom: 150px;
  align-items: center;
}
.trusted-badge-parent {
  position: relative;
}
.trusted-badge {
  position: absolute;
  width: 286px;
  height: 286px;
  left: 390px;
  top: -130px;
}
.plant-lover-texts {
  width: 570px;
  margin-right: 0;
}
.plants-lover-title {
  font-size: 3rem;
  width: 500px;
}

.plants-lover-description {
  width: 100%;
  font-size: 1.3rem;
}

.plants-lover-description li {
  margin-bottom: 20px;
  margin-right: 20px;
}

.latest-deal-texts {
  text-align: center;
  margin-bottom: 120px;
}

.latest-deal-title {
  font-size: 3rem;
  margin-bottom: 15px;
}

.latest-deal-description {
  width: 70%;
  margin: 0 auto;
}
.latest-deal-images-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 120px;
}
.left-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 35%;
}
.right-box {
  width: 65%;
}

.small-image {
  height: 200px;
  border-radius: 15px;
}

.large-image {
  height: 420px;

  border-radius: 15px;
  font-size: 2em;
}
.image {
  position: relative;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.5);
}
.shop-now {
  text-decoration: underline;
}
.text {
  margin-top: 0;
  margin-bottom: 10px;
  position: relative;
}

.join-section {
  background-image: url("assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 1440px;
  height: 540px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.join-section-title {
  font-size: 3rem;
}
.join-inputs {
  width: 830px;
  height: 50px;
  display: flex;
}
.join-inputs [type="email"] {
  width: 70%;
  height: 100%;
  border: none;
  padding: 0;
  padding-left: 15px;
}
.join-inputs [type="button"] {
  color: #fff;
  width: 30%;
  height: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
}


.footer-container {
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.footer-content-left {
  width: 210px;
  flex-direction: column;
}
.footer-content-mid {
  width: 450px;
  height: 100%;
  justify-content: space-around;
}
.links {
  flex-direction: column;
  justify-content: space-around;
}
.links a {
  text-decoration: none;
}

.footer-content-right {
  height: 100%;
  align-items: flex-start;
  margin-top: 50px;
}
.div {
  gap: 20px;
  align-items: center;
}
.social-icons {
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  body {
    margin-left: 15px;
    margin-right: 15px;
  }
  .navbar .menu {
    display: none;
  }

  .cart {
    margin-top: 30px;
    font-size: 1.25rem;
  }

  .banner-section {
    flex-direction: column-reverse;
    margin-top: 230px;
  }

  .container {
    width: 100%;
  }

  .banner-texts {
    margin-top: 25px;
    width: 100%;
  }

  .banner-title {
    font-size: 2rem;
    margin: 0;
  }

  .banner-image {
    width: 100%;
  }

  .plant-section {
    margin: 0;
  }

  .plant-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .plant-card {
    width: 100%;
  }
  .plant-lover-section-contents {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 0;
  }
  .trusted-badge {
    display: none;
  }
  .plant-lover-image {
    width: 100%;
  }
  .plant-lover-texts {
    width: 100%;
  }
  .plants-lover-title {
    font-size: 1.8rem;
    width: 100%;
  }
  .plants-lover-description {
    width: 90%;
  }
  .plants-lover-description li {
    padding-right: 10px;
  }
  .latest-deal-images-box {
    flex-direction: column;
  }
  .left-box {
    width: 100%;
  }
  .right-box {
    width: 100%;
  }
  .large-image {
    font-size: 1.2em;
    height: 210px;
  }
  .join-section {
    margin: 0;
    max-width: 100%;
    background-size: 100% 80%;
    height: 300px;
  }
  .join-section-title {
    font-size: 1.2rem;
  }
  .join-inputs {
    max-width: 80%;
  }
  .footer-container,
  .footer-content-mid {
    flex-direction: column;
  }
  .footer-container {
    height: fit-content;
  }

  .footer-content-left {
    align-self: start;
    margin-left: 10px;
    width: 95%;
  }
  .footer-content-left img {
    width: 45%;
  }
  .footer-content-mid {
    width: 95%;
    height: 100%;
  }
  .links {
    justify-content: space-around;
    gap: 30px;
  }
  .links-1 {
    margin-bottom: 30px;
  }

  .footer-content-right {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: -10px;
  }
  .div {
    width: 100%;
    margin-left: 20px;
  }
}
.display-flex {
  display: flex;
}
