footer{
    background-color: white;
    padding: 150px;
    text-align: center;
    
}

footer h1{
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
    line-height: 0;
    
}

footer a,p{
    text-decoration: none;
    color: #8987A1;
}
footer a{
    margin: 0 20px;
}