.review{
   margin: 0 150px;
    margin-bottom: 150px;


}
.review h2{
    text-align: center;

}
.review-container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}
.review-item{
background-color: white;
border-color: #F2EDED;
border-style: solid;
border-width: 1px;
border-radius: 14px;
max-width: 380px;
padding: 20px;
}

.user-container{
    display: flex;
    align-items: center;
    line-height: 0%;
    gap: 10px;
}

.user-container img{
    height: fit-content;
    border-radius: 50%;
}